body {
    background-color: sienna;
    margin: 0px;
}

.nav-container {
    position: absolute;
    display: block;
    background: whitesmoke;
    width: 1600px;
    height: 60px;
    text-align: end;
    font-family: 'futura';
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0 px;
    padding: 0 px;
    
}

.navbar li {
    display: inline;
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: indianred;
}

.navbar li:hover {
    color:yellow;
}


.Header {
    margin: 100px;
    display: block;
    position: absolute;
}

.header-text {
    color: ivory;
    font-family: roboto;
    font-weight: bold;
    font-size: 120px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

.logo {
    width: 8%;
    height: auto;
    margin: 0px;
    position: relative;
    top: 0px;
    left: 110px;
}

.logo img {
    width: 100%;
    height: auto;
}

.Testimoni {
    width: 50%;
    height: auto;
    margin: 10px;
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nama-cabang {
    font-family: 'futura';
    color:sienna;
    margin-top: 100px;
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
}

.location {
    text-align: center;
    font-family: 'futura';
}