  body {
    font-family: "Roboto", sans-serif;
  }

  .nav-container {
    max-width: 100%;
    max-height: 60px;
    background: #fffffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 72px;
    margin-top: -65px;
    z-index: 500;
    position: relative;
  }

  .wrapper {
    width: 100%;
    margin: 0 auto;
    border: 10px green;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
  }

  .logo img {
      position: relative;
      top: 50px;
      width: 10%;
      height: 10%;
  }

  .Testimoni {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }